# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Vite
vite.config.ts.timestamp-*

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.user
.history/

# OS
.DS_Store
Thumbs.db

# Netlify
.netlify

# Deno
deno.lock

# Logs
*.log
npm-debug.log*
